
<app-menu></app-menu>
<div class="flex min-h-screen w-1265 mx-auto border">
    <div class="w-275">
    <div class="surface-section h-screen border-right-1 surface-border flex flex-column select-none">
    <app-sidebar></app-sidebar>
    </div>
    </div>
    <div class="flex-1">
    <div class="col-12">
    <app-content></app-content></div>
    </div>
    <div class="w-22rem">
    <app-tags></app-tags>
    <app-last-answers></app-last-answers>
    <app-last-blogs></app-last-blogs>
    </div>
</div>