<div style="background: url('assets/images/background/signin-2.jpg') no-repeat; background-size: cover"
class="flex w-full h-screen justify-content-center align-items-center">


<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
           
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/avatar.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Giriş Yap</div>
                    <span class="text-600 font-medium line-height-3">Hesabın yok mu?</span>
                    <a href="register" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Şimdi Kayıt Ol</a>
                </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                <div class="w-full md:w-10 mx-auto">
                    <label for="username" class="block text-900 text-xl font-medium mb-2">Kullanıcı Adı</label>
                    <input id="username" type="text" formControlName="username" placeholder="Kullanıcı adı giriniz" pInputText class="w-full mb-3" style="padding:1rem;">
                    <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback mb-3">
                    <small *ngIf="formControls.username.errors.required" id="username-help" class="text-pink-500">Lütfen kullanıcı adınızı giriniz</small></div>
                    <label for="password" class="block text-900 font-medium text-xl mb-2">Şifre</label>
                    <input id="password" type="password" formControlName="password" placeholder="Şifrenizi giriniz" pInputText class="w-full mb-3">
                    <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback mb-3">
                    <small *ngIf="formControls.password.errors.required" id="username-help" class="text-pink-500">Lütfen şifrenizi giriniz</small></div>
                    <div class="flex align-items-center justify-content-between mb-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Beni Hatırla</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Şifrenizi mi unuttunuz?</a>
                    </div>
                    <button pButton pRipple type="submit" label="Giriş Yap" class="w-full p-3 text-xl"></button>
                    <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>



</div>